

.button{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid black;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;

    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

}

.button:hover{
    background-color: #eee;
    color: #555;
}

/* Colored buttons styles */

.button.green, .button.red, .button.blue {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

.button.green{
    background-color: #57a957;
    border: 1px solid black;
}

.button.green:hover{
    background-color: #62c462;
}

.button.green:active{
    background: #57a957;
}

/* */

.button.red{
    background-color: #ca3535;
    border: 1px solid black;
}

.button.red:hover{
    background-color: #ee5f5b;
}

.button.red:active{
    background: #c43c35;
}

/* */

.button.blue{
    background-color: #269CE9;
    border: 1px solid black;
}

.button.blue:hover{
    background-color: #70B9E8;
}

.button.blue:active{
    background: #269CE9;
}



