<div>
    <nav>
        <a href="/home" id="logo" class="logo-img">
            <img src="/Images/enggaarden_logo.png" alt="enggårdens logo">
        </a>
        <a href="/home">Hjem</a>
        <a href="/members">Medlemskartotek</a>
        <a href="/emails">Gruppemail</a>
        <a href="/contributions">Støtte</a>
        <a href="/statistics">Statistik</a>
        <a href="/subLogs">Ændringsoversigt</a>
        <a href="/users">Brugere</a>
        <a href="/logout" type="button" class="btn-logout">Log af</a>
    </nav>
</div>